html,
body {
  margin: 0;
  padding: 0;
  height: 1%;
  background: url('http://jakenelson.comxa.com/misc/bgs/abstract-2.jpg');
  background-attachment: scroll;
  background-size: auto;
  background-repeat: repeat;
}

#projectrow1 {
  padding-top: 20px;
  height: 100%;
}

#projectrow2 {
  padding-top: 20px;
  height: 100%;
  display: none;
}

#projectrow3 {
  padding-top: 20px;
  height: 100%;
  display: none;
}

#nextButtonDiv{
margin: 0 auto;
  }

#niceFooter {
  position: static;
  bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 4%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

nextButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home {
  position: relative;
  top: 0px;
  color: #ffffff;
  visibility: hidden;
}

@media (min-width: 320px) {
  #projectrow2 {
  }
}

@media (max-width: 1080px) {
  .sideButtons {
    visibility: hidden;
  }
}

@media (max-width: 768px) {

  #projectrow1, #projectrow2, #projectrow3, #projectrow4, #projectrow5 {
    display: inline;
    visibility: visible;
  }

  body {
    background-image: none;
  }

  #nextButtonDiv {
    display: none;
  }
}



#wrapper {
  position: relative;
}

.navbar {
  margin-bottom: 0px;
  background-color: #2d2d30 !important;
  font-size: 11px !important;
  letter-spacing: 4px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-brand {
  position: absolute;
  top: -9px;
}

#awdtitle {
  position: fixed;
  top: 27px;
  left: 15px;
  color: #c4c4c4;
  padding-top: 2px;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #2d2d30 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: #29292a !important;
}

.open .dropdown-toggle {
  color: #555;
  background-color: #09090a !important;
}

.dropdown-menu li a {
  color: #eeeeee !important;
  background-color: #09090a !important;
}

.dropdown-menu li a:hover {
  background-color: #a5a5a5 !important;
}

#projects {
  margin-top: 120px !important;

}

.demo {
  padding-bottom: 60px;
}

.proj {
  border: 10px solid transparent;
  margin-bottom: 25px;
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.proj:hover {
  opacity: .87;
}

#contact {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: #19191a;
  color: #ffffff;
  padding-bottom: 90px !important;
  padding-top: 20%;
  display: none;
  overflow: auto;
}


/* CSS for sidebar */

.sideButtons {
  max-width: 42px;
  height: 30px;
  font-size: 18px;
  position: fixed;
  bottom: 50%;
  z-index: 100;
}

#tpill {
  background-color: #4099FF;
  color: #FFFFFF;
  font-family: webdings;
  text-indent: -1px;
}

#tpill:hover {
  font-weight: bold;
  text-shadow: 0px 1px 5px;
  border-width: 1px;
  border-color: #999999;
}

#gpill {
  background-color: #1d1d1d;
  color: #FFFFFF;
  text-indent: -1px;
}

#gpill:hover {
  font-weight: bold;
  text-shadow: 0px 1px 5px;
  border-width: 1px;
  border-color: #999999;
}

#lpill {
  background-color: #007bb6;
  color: #FFFFFF;
  text-indent: -1px;
}

#lpill:hover {
  font-weight: bold;
  text-shadow: 0px 1px 5px;
  border-width: 1px;
  border-color: #999999;
}
