body, html {
  height: 100%;
  width: 100%;
  }

#myCarousel {
  height: 100%;
}

.demo {
  padding-top: 40px;
}


.proj {
  margin: auto;
  width: 50%;
  text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 250px;
}
